.container {
  font-size: 40px;
  width: 100%;
  background-color: LightGray;
  display: grid;
  grid-template-columns: repeat(3, 100px);
}

.d1 { background-color: Coral; }
.d2 { background-color: LightBlue; }
.d3 { background-color: LightGreen; }
.d4 { background-color: LightPink; }
.d5 { background-color: PaleGoldenRod; }